In [9]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [10]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Alvaraes,BR,2022-11-10 21:32:27,-3.2208,-64.8042,89.47,70,92,3.15
1,1,Yellowknife,CA,2022-11-10 21:32:28,62.4560,-114.3525,12.72,85,100,10.36
2,2,Hermanus,ZA,2022-11-10 21:32:29,-34.4187,19.2345,61.81,80,15,14.03
3,3,Pahalgam,IN,2022-11-10 21:32:29,34.0333,75.3333,23.41,60,0,11.25
4,4,East London,ZA,2022-11-10 21:30:18,-33.0153,27.9116,64.87,84,100,19.24

In [11]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [12]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [13]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
   # temps.append(max(temp, 0))

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4) #using list comprehension
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Alvaraes,BR,2022-11-10 21:32:27,-3.2208,-64.8042,89.47,70,92,3.15
10,10,Nombre De Dios,MX,2022-11-10 21:32:32,23.8500,-104.2333,81.95,18,3,10.20
16,16,Guanica,PR,2022-11-10 21:32:35,17.9716,-66.9080,83.03,83,10,8.97
25,25,Puerto Ayora,EC,2022-11-10 21:28:13,-0.7393,-90.3518,76.96,76,38,3.00
36,36,Mineiros,BR,2022-11-10 21:32:43,-17.5694,-52.5511,77.07,54,47,7.34
42,42,Kapaa,US,2022-11-10 21:29:25,22.0752,-159.3190,82.38,63,0,19.57
44,44,Puerto Escondido,MX,2022-11-10 21:33:47,15.8500,-97.0667,85.03,54,20,8.05
45,45,Poya,NC,2022-11-10 21:33:47,-21.3500,165.1500,77.36,64,93,6.82
48,48,Phan Thiet,VN,2022-11-10 21:33:49,10.9333,108.1000,75.29,86,94,4.79
49,49,Santa Teresa,VE,2022-11-10 21:33:49,10.2341,-66.6631,78.28,83,92,2.35

In [24]:
preferred_cities_df.count()

City_ID       172
City          172
Country       171
Date          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
dtype: int64

In [25]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [29]:
preferred_cities_df = preferred_cities_df.dropna()

In [30]:
preferred_cities_df.count()

City_ID       171
City          171
Country       171
Date          171
Lat           171
Lng           171
Max Temp      171
Humidity      171
Cloudiness    171
Wind Speed    171
dtype: int64

In [31]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
0           Alvaraes      BR     89.47  -3.2208  -64.8042
10    Nombre De Dios      MX     81.95  23.8500 -104.2333
16           Guanica      PR     83.03  17.9716  -66.9080
25      Puerto Ayora      EC     76.96  -0.7393  -90.3518
36          Mineiros      BR     77.07 -17.5694  -52.5511
42             Kapaa      US     82.38  22.0752 -159.3190
44  Puerto Escondido      MX     85.03  15.8500  -97.0667
45              Poya      NC     77.36 -21.3500  165.1500
48        Phan Thiet      VN     75.29  10.9333  108.1000
49      Santa Teresa      VE     78.28  10.2341  -66.6631

In [32]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [37]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [38]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Alvaraes,BR,89.47,-3.2208,-64.8042,Av. Castelo Branco. Ginásio Ermelino vieira.
10,Nombre De Dios,MX,81.95,23.8500,-104.2333,Uraján de Luna Hotel Boutique & SPA
16,Guanica,PR,83.03,17.9716,-66.9080,Copamarina Beach Resort & Spa
25,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
36,Mineiros,BR,77.07,-17.5694,-52.5511,Pilões Palace Hotel
42,Kapaa,US,82.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
44,Puerto Escondido,MX,85.03,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
45,Poya,NC,77.36,-21.3500,165.1500,
48,Phan Thiet,VN,75.29,10.9333,108.1000,Hotel Saigon-PT
49,Santa Teresa,VE,78.28,10.2341,-66.6631,Funeraria Lira

In [43]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [44]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))